#allShapes  {
width: 600px;
height: 600px;
background-color: bisque;
position: relative;
}

.square {
    background-color: red;
    position: absolute;
}
.rectangle {
background-color: green;
position: absolute;
}

.circle {
background-color: purple;
position: absolute;
}

.triangle   {
background-color: yellow;
position: absolute;
}